<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

      <P>사이트 개발은 <a href="http://a-mean-blog.com/ko/blog/MEAN/MEN-게시판" target="_blank">원노</a>에게 문의하세요.</p>
    </div>
  </body>
</html>
