<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>멋사는 node도 합니다!</h1>
        <P>동국대 멋사가 궁금하다면 <a href="https://www.facebook.com/DGUlion/" target="_blank">여기</a>로!</p>
      </div>
    </div>
  </body>
</html>
